body {
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center; /* 내용을 수평 가운데 정렬 */
    align-items: center; /* 내용을 수직으로 위로 정렬 */
    height: 60vh; /* 화면 전체 높이에 맞게 설정 */
    background-color: aliceblue;
    /*background: #2BC0E4;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Georgia,Serif;
}


input[type="text"] {
    margin-top: 10px;
    width: 400px; /* input의 길이를 원하는 값으로 설정 */
    height: 32px;
    border: 0;
    border-radius: 15px;
    outline: none;
    background-color: rgb(233,233,233);
}

button{
    border-radius: 20%;
    width: 80px;
    height: 32px;
    margin-left: 30px;
    border: 0;
    outline: none;
    background-color: black;
    color: white;

}
h1{
    font-size: 65px;
}
